html {
	overflow-x: hidden;
}
#embed-wrapper{
     position: absolute;
     height: 100%;
     width: 100%;
     pointer-events: none;
		 text-align: center;
}
h1, h2, h3 {
	font-family: "Dotline", cursive;
	font-weight: 400;
	color: orange;
}

#brintonLogo h1 {
	font-size: 9rem;
}
#brintonLogo h2 {
	font-size: 4rem;
	margin-top: -8rem;
}
#brintonLogo h3 {
	font-size: 3.5rem;
	margin-top: -6rem;
}

html body{
	background-color: black;
}

.container-fluid {
	background-color: black;
	color: orange;
}

.btn-toolbar {
	margin-top: 1rem;
}

.btn {
	font-family: 'Dotline', sans-serif;
	font-weight: 800;
	border-radius: 0px;
	font-size: 1.5rem;
	height: 4rem;
	background-color: orange;
}

.btn:focus {
	outline:none;
	box-shadow:none;
}

#brintonLogo {
	margin-top: 6rem;
}

#homeBtn {
	float: left;
	margin-top: -5rem;
}

#icon {
    border-top: 2px solid orange;
    border-right: 2px solid orange;
    border-bottom: 2px solid orange;
    border-bottom-right-radius: 8px;
    border-top-right-radius: 8px;
    padding: 0px 8px;
    background-color: orange;
	float: left;
	margin-top: -5rem;
	z-index: 1000;
}

#nowShowing {
	margin-top: 2rem;
}

#nowShowing h2 {
	font-size: 4rem;
	color: white;
}

.item img {
    height: 400px;
    border: 3px solid orange;
}

.owl-carousel {
    margin-left: auto;
    margin-right: auto;
}

.pop_item {
	margin-top: 2rem;
    border: 3px solid orange;
}

.clickSwitch{
  margin-top: 0px;
  width:300px;
}

.popups p {
	font-family: 'Montserrat';
	color: white;
	font-size: 1em;
	margin-left: auto;
	margin-right: auto;
  text-align: center;
}
.popups {
	display:none;
}

#galleryInfo {
	margin-top: 2rem;
	color: white;
	font-family: 'Montserrat';
}

#galleryInfo p {
	margin-top: 1rem;
}

/*map specific*/
#feature_infos {
	width:500px;
  height: 250px;
  background: rgba(255, 255, 255, 0.7);
  position: absolute;
  top:150px;
  left:25px;
  padding:5px;
  border:3px solid grey;
	z-index: 1000;
	border-radius: 8px;
}

#info h4 {
	margin: 10px;
	padding: 0px;
	height: 150px;
	color: orange;
	font-family: "Montserrat";
}

#info p {
	margin: 10px;
	padding: 0px;
	font-family: "Montserrat";
}

/*styles leaflet slider*/
#leaflet-slider .ui-slider-handle {
	background-image: none;
	background-color: orange;
	border: 1px solid black;
}

.ui-slider {
	right: 90px;
	width: 350px;
}
